import init.venturi.usb.rc

on init
    export EXTERNAL_STORAGE /storage/sdcard0
    export SECONDARY_STORAGE /storage/sdcard1

    mkdir /mnt/media_rw/sdcard0 0700 media_rw media_rw
    mkdir /mnt/media_rw/sdcard1 0700 media_rw media_rw
    mkdir /mnt/media_rw/usbdisk 0700 media_rw media_rw

    mkdir /storage/sdcard0 0700 root root
    mkdir /storage/sdcard1 0700 root root
    mkdir /storage/usbdisk 0700 root root
    
    symlink /storage/sdcard0 /sdcard
    symlink /storage/sdcard0 /mnt/sdcard
    symlink /storage/sdcard1 /external_sd
    symlink /storage/sdcard1 /mnt/external_sd
    symlink /storage/usbdisk /mnt/usbdisk
    symlink /mnt/usbdisk /usbdisk

# We chown/chmod /efs because mount is run as root + defaults
    mkdir /efs 0771 system system
    chown system system /efs
    chmod 0771 /efs

on boot
# fake some battery state
    setprop status.battery.state Slow
    setprop status.battery.level 5
    setprop status.battery.level_raw  50
    setprop status.battery.level_scale 9

# phone
    setprop ro.telephony.call_ring.multiple 0
    setprop ro.radio.noril yes

on fs
    mount_all fstab.venturi

# SEC_DMCRYPT for MC_CRYPT_ROOT before apply_disk_policy or apply_sec_devenc_init
    #chown system system /efs
    #chown radio radio /efs
    chown radio system /efs
    chmod 0771 /efs
    mount vfat /dev/block/mmcblk0p10 /efs wait ro

# permissions for bluetooth.
    chown bluetooth net_bt_stack /dev/s3c2410_serial0
    chmod 0600 /dev/s3c2410_serial0
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type

# Permissions for System Server and daemons.
    chown system system /sys/class/backlight/s5p_bl/brightness
    chown system system /sys/devices/virtual/sec/ts/touchkey_led

# change permission for uart_switch
    chown radio radio /sys/class/sec/uart_switch/UART_SEL/value
    chmod 660 /sys/class/sec/uart_switch/UART_SEL/value

# load wifi module
    insmod /system/lib/modules/bcmdhd.ko
    insmod /system/lib/modules/vibrator.ko

on post-fs

# allow system to modify cpufreq control files
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq

# trigger governor change uevent
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive

on post-fs-data

    # wi-fi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp

    # download cache
    mkdir /data/download 0770 system cache

    # logs
    mkdir /data/log 0775 root root
    chmod 0775 /data/log

    # create data/gps for GPS demon
    mkdir /data/gps 700 gps system
    chown gps system /data/gps

    # GPS sysfs paths
    chown gps root /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 660 /sys/class/sec/gps/GPS_PWR_EN/value
    chown gps root /sys/class/sec/gps/GPS_nRST/value
    chmod 660 /sys/class/sec/gps/GPS_nRST/value

    setprop vold.post_fs_data_done 1

# 3D init
service pvrsrvinit /vendor/bin/pvrsrvinit
    class core
    user root
    group root
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant \
	-iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf -e/data/misc/wifi/entropy.bin
	#   we will start as root and wpa_supplicant will switch to user wifi
	#   after setting up the capabilities required for WEXT
	#   user wifi
	#   group wifi inet keystore
	class main
	socket wpa_wlan0 dgram 0660 wifi wifi u:object_r:wpa_socket:s0
	disabled
	oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -aABDKL
    class main
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service bdaddr /system/bin/bdaddr_read
    class main
    user root
    disabled
    oneshot

on property:ril.bt_macaddr=*
    start bdaddr

# bugreport is triggered by holding down volume down, volume up and power
# service bugreport /system/bin/dumpstate -d -v -o /sdcard/bugreports/bugreport
#     class main
#     disabled
#     oneshot
#     keycodes 114 115 116

service orientationd /vendor/bin/orientationd
    class late_start
    user compass
    group system input
    disabled

service geomagneticd /vendor/bin/geomagneticd
    class late_start
    user compass
    group system input
    disabled

service gpsd /vendor/bin/gpsd -c /vendor/etc/gps.xml
    class late_start
    socket gps seqpacket 0660 gps system
    user gps
    group system inet

service fuse_sdcard0 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard0 /storage/sdcard0
    class late_start
    disabled

service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard1 /storage/sdcard1
    class late_start
    disabled

service fuse_usbdisk /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/usbdisk /storage/usbdisk
    class late_start
    disabled
